<div id="container">
  <div id="left">
    <%= turbo_frame_tag "test_frame" do %>
     <%= link_to "New article", new_article_path %>
    <% end %>
  </div>
  <div id="right">
    <h1>
      Articles
    </h1>
    <%= render @articles %>
  </div>
</div>