<div id="container">
  <div id="left">
    <%= link_to "New Article", new_article_path, data: {turbo_frame: dom_id(Article.new)} %>

    <div>
			<%= turbo_frame_tag Article.new %>
		</div>
  </div>
  <div id="right">
    <h1>
      Articles
    </h1>
    <%= turbo_frame_tag "articles" do %>
      <%= render @articles %>
     <% end %>
  </div>
</div>